*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
app/build/

.idea/*.xml

!.idea/gradle.xml
!.idea/runConfigurations/*.xml
/ImageViewer/projectFilesBackup/.idea/workspace.xml
/ImageViewer/.idea/compiler.xml
/ImageViewer/.idea/encodings.xml
/ImageViewer/.idea/gradle.xml
/ImageViewer/.idea/misc.xml
/ImageViewer/.idea/modules.xml
/ImageViewer/.idea/runConfigurations.xml
